{% extends "layout.html" %}
{% block body %}
  <div class="col-md-15">
    </div>
    <div class="card card-body">
        <form action="{{url_for('anadirContacto')}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="nombre" placeholder="nombre">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="numero" placeholder="numero">
          </div>
          <button class="btn btn-primary btn-lg btn-block">
            Save 
          </button>
        </form>
          <table class="table table-striped table-hover table-bordered table-sm bg-white">
          <div class="col-md-7">
            <tbody>
            <tr>
              <td>Nombre: </td>
              <td>Numero:</td>
              <td>Email: </td>
              <td>OPCIONES: </td>
              <br>
              <br>
            </tr>
            <br>
            <br>
          {% for contactos in contactos %}
          <tr>
            <td>{{contactos.1}}</td>
            <td>{{contactos.2}}</td>
            <td>{{contactos.3}}</td>
            <td>
              <a href="/editar/{{contactos.0}}" class="btn btn-info">Editar</a>
              <a href="/eliminar/{{contactos.0}}" class="btn btn-danger btn-delete">Eliminar</a>
            </td>
          </tr>
          <br>
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    {% endblock %}