<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <form>
        <h1>EDITAR CONTACTOS</h1>
        <p>Nombres:</p><br>
        <input type="text" name="nombres"/><br>
        <p>Numero:</p><br>
        <input type="text" name="numero"/><br>
        <p>Gmail:</p><br>
        <input type="text" name="email"/><br><br>
        <button>UPDATE</button>
    </form>
</body>
</html>